@model IEnumerable<BukkitDevSystem.Models.PluginModel>

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BukkitDevSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aqui você encontra alguns de meus trabalhos">
    <meta name="robots" content="index, follow">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
</head>
<body>
    <header style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container menu-navbar">
                <a class="navbar-brand text-white-nav" href=""><img class="bukkit-icon" src="~/img/java-white.png">BukkitDevSystem</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link text-white-nav" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white-nav" href="#plugins">Plugins <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-nav" href="#portifolio">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="https://www.github.com/marcopandolfo" class="btn btn-github text-white-nav">Github</a>
            <a href="https://www.twitter.com/lolgamarco2" class="btn btn-twitter text-white-nav">Twitter</a>
        </nav>
    </header>

    <main>
        <!-- Home -->
        <section id="home" class="container">
            <img class="java-blue mx-auto d-block" src="~/img/java-blue.png" alt="Logo Java">
            <h2 class="text-center">Bem vindo ao BukkitDevSystem</h2>
            <div class="subtitulo"><h6>Versão Beta</h6></div>
            <hr style="width: 300px">

            <div class="row start">
                <div class="primeira-coluna col-xl-6 col-12">
                    <h3 class="text-center">He4rt Developers</h3>
                    <div class="text-center">
                        <div class="he4rt-box">
                            <a href="www.google.com" class="logo-centered">
                                <img src="~/img/logo.png" alt="logo-he4rtdevs">
                            </a>
                            <img src="~/img/he4rt.png" alt="foto-he4rtdevs" class="img-fluid fto-principal">
                        </div>
                        <p class="text-center main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolore natus aspernatur quos consequuntur odio maiores, eaque aut, ducimus asperiores architecto quam officia voluptate provident assumenda, quisquam fuga quis molestias!</p>
                    </div>
                </div>

                <div class="segunda-coluna col-xl-6 col-12">
                    <h3 class="text-center">Open Source</h3>
                    <div class="text-center">
                        <div class="he4rt-box">
                            <a href="www.google.com" class="logo-centered">
                                <img src="~/img/github-logo.png" alt="logo-he4rtdevs">
                            </a>
                            <img src="~/img/opensource-bg.png" alt="foto-he4rtdevs" class="img-fluid fto-principal">
                        </div>
                        <p class="text-center main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolore natus aspernatur quos consequuntur odio maiores, eaque aut, ducimus asperiores architecto quam officia voluptate provident assumenda, quisquam fuga quis molestias!</p>
                    </div>
                </div>

            </div>

        </section>

        <!-- Plugins -->
        <section id="plugins" class="container">
            <h2 class="text-center">PLUGINS</h2>
            <div class="subtitulo"><h6>Listagem de plugins</h6></div>
            <hr style="width: 300px;">
            <!--Primeiro Deck-->
            <div class="card-deck">
                <!--Card-->
                <div class="card">
                    <img src="~/img/default.jpg" class="card-img-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Nome do plugin</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum qui perferendis placeat aliquam voluptas veritatis amet sed earum atque.</p>
                        <p>[Java SE 8] [Spigot 1.8] [Maven 2]</p>
                        <a href="" class="btn btn-primary">Download</a>
                    </div>
                </div>
                <!--Card-->
                <div class="card">
                    <img src="~/img/default.jpg" class="card-img-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Nome do plugin</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum qui perferendis placeat aliquam voluptas veritatis amet sed earum atque.</p>
                        <p>[Java SE 8] [Spigot 1.8] [Maven 2]</p>
                        <a href="" class="btn btn-primary">Download</a>
                    </div>
                </div>
                <!--Card-->
                <div class="card">
                    <img src="~/img/default.jpg" class="card-img-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Nome do plugin</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum qui perferendis placeat aliquam voluptas veritatis amet sed earum atque.</p>
                        <p>[Java SE 8] [Spigot 1.8] [Maven 2]</p>
                        <a href="" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>
            <!--Segundo deck-->
            <div class="card-deck second-deck">
                <!--Card-->
                <div class="card">
                    <img src="~/img/default.jpg" class="card-img-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Nome do plugin</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum qui perferendis placeat aliquam voluptas veritatis amet sed earum atque.</p>
                        <p>[Java SE 8] [Spigot 1.8] [Maven 2]</p>
                        <a href="" class="btn btn-primary">Download</a>
                    </div>
                </div>
                <!--Card-->
                <div class="card">
                    <img src="~/img/default.jpg" class="card-img-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Nome do plugin</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum qui perferendis placeat aliquam voluptas veritatis amet sed earum atque.</p>
                        <p>[Java SE 8] [Spigot 1.8] [Maven 2]</p>
                        <a href="" class="btn btn-primary">Download</a>
                    </div>
                </div>
                <!--Card-->
                <div class="card">
                    <img src="~/img/default.jpg" class="card-img-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Nome do plugin</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum qui perferendis placeat aliquam voluptas veritatis amet sed earum atque.</p>
                        <p>[Java SE 8] [Spigot 1.8] [Maven 2]</p>
                        <a href="" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>
            <!--Terceiro Deck-->
            <div class="card-deck second-deck ver-mais-deck">
                <!--Card-->
                <div class="card">
                    <img src="~/img/default.jpg" class="card-img-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Nome do plugin</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum qui perferendis placeat aliquam voluptas veritatis amet sed earum atque.</p>
                        <p>[Java SE 8] [Spigot 1.8] [Maven 2]</p>
                        <a href="" class="btn btn-primary">Download</a>
                    </div>
                </div>
                <!--Card-->
                <div class="card">
                    <img src="~/img/default.jpg" class="card-img-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Nome do plugin</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum qui perferendis placeat aliquam voluptas veritatis amet sed earum atque.</p>
                        <p>[Java SE 8] [Spigot 1.8] [Maven 2]</p>
                        <a href="" class="btn btn-primary">Download</a>
                    </div>
                </div>
                <!--Card-->
                <div class="card">
                    <img src="~/img/default.jpg" class="card-img-top" alt="thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Nome do plugin</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum qui perferendis placeat aliquam voluptas veritatis amet sed earum atque.</p>
                        <p>[Java SE 8] [Spigot 1.8] [Maven 2]</p>
                        <a href="" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>
            <div class="text-center ver-mais">
                <button id="btn-ver-mais" class="btn btn-primary">Ver Mais</button>
            </div>

        </section>

        <!-- Sobre -->
        <section id="sobre" class="container">
            <h2 class="text-center">SOBRE</h2>
            <div class="subtitulo"><h6>Um pouco sobre o projeto</h6></div>
            <hr style="width: 300px;">

            <!---------------->
            <div class="row start-sobre">
                <div class="primeira-coluna col-xl-6 col-12">
                    <h3 class="text-center">Lorem title</h3>
                    <div class="text-center">
                        <p class="text-center main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolore natus aspernatur quos consequuntur odio maiores, eaque aut, ducimus asperiores architecto quam officia voluptate provident assumenda, quisquam fuga quis molestias! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eius praesentium quam voluptas, recusandae laborum sunt placeat. Fugiat officia possimus iste praesentium, consequatur aut fugit odit, accusantium veniam, quae aspernatur?</p>
                    </div>
                </div>

                <div class="segunda-coluna col-xl-6 col-12">
                    <h3 class="text-center">Social media</h3>
                    <div class="text-center social-box">
                        <p>
                            <a href="">
                                <img src="~/img/github-icon.png" class="icon" alt="github-logo">
                                Confira o projeto no github!
                            </a>
                        </p>
                        <p>
                            <a href="">
                                <img src="~/img/twitter.png" class="icon" alt="twitter-logo">
                                Entre em nosso maravilhoso Twitter!
                            </a>
                        </p>
                        <p>
                            <a href="">
                                <img src="~/img/discord.png" class="icon" alt="discord-logo" style="margin-right: 5px">
                                Entre em nosso belo Discord!
                            </a>
                        </p>
                    </div>
                </div>

            </div>

        </section>
    </main>

    <footer class="footer">
        <div class="text-center">
            <h4>&copy; BukkitDevSystem 2019</h4>
        </div>

    </footer>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>