<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package ID="MaterialDesignColors" version="1.2.0" targetFramework="net472" />
  <package ID="MaterialDesignThemes" version="2.6.0" targetFramework="net472" />
  <package ID="Microsoft.Data.Sqlite.Core" version="2.2.6" targetFramework="net472" />
  <package ID="SQLitePCLRaw.core" version="1.1.14" targetFramework="net472" />
  <package ID="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net472" />
</packages>