@model Speckoz.BukkitDev.Models.PluginModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PluginModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomePlugin" class="control-label"></label>
                <input asp-for="NomePlugin" class="form-control" />
                <span asp-validation-for="NomePlugin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorPlugin" class="control-label"></label>
                <input asp-for="AutorPlugin" class="form-control" />
                <span asp-validation-for="AutorPlugin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VersaoPlugin" class="control-label"></label>
                <input asp-for="VersaoPlugin" class="form-control" />
                <span asp-validation-for="VersaoPlugin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPlugin" class="control-label"></label>
                <input asp-for="TipoPlugin" class="form-control" />
                <span asp-validation-for="TipoPlugin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoPlugin" class="control-label"></label>
                <input asp-for="PrecoPlugin" class="form-control" />
                <span asp-validation-for="PrecoPlugin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoPlugin" class="control-label"></label>
                <input asp-for="DescricaoPlugin" class="form-control" />
                <span asp-validation-for="DescricaoPlugin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemPadraoPersonalizada" class="control-label"></label>
                <input asp-for="ImagemPadraoPersonalizada" class="form-control" />
                <span asp-validation-for="ImagemPadraoPersonalizada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}